services:
  redis_container:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - HOST=0.0.0.0
      - PORT=8000
      - DATABASE_URL=sqlite+aiosqlite:///database.db
      - REDIS_HOST=redis_container
      - REDIS_PORT=6379
      - LOG_LEVEL=INFO
      - AUTO_RELOAD=False
    volumes:
      - ./app:/app/app
      - ./database.db:/app/database.db
    depends_on:
      redis_container:
        condition: service_healthy
    networks:
      - app-network
    restart: unless-stopped

#  redis_gui:
#    image: redis/redisinsight
#    ports:
#      - "5540:5540"
#    networks:
#      - app-network

networks:
  app-network:
    driver: bridge